<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Homeworks</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:50px">
        <div class="container-fluid">
            @Html.ActionLink("Mysterio Homeworks", "Index", "DashBoard", new { @class = "navbar-brand"});
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    @Html.Action("PagesMenuPartial", "Pages")

                </ul>
                <span class="navbar-text">
                    @Html.ActionLink("Admin Area", "Index", "Dashboard", new { area = "Admin" }, null)
                </span>
            </div>
        </div>
    </nav>

    
    <div class="container body-content" style="margin-top:30px">
        <div class="row" style="min-height:83.5vh">

            <div class="col-sm-12 col-md-2 list-group" style="position:relative">
                <div class="fixed">
                    @Html.Action("CategoryMenuPartial", "Homeworks")
                </div>
            </div>

            @if (ViewBag.Sidebar == "Yes")
            {
                <div class="col">
                    @RenderBody()
                </div>
                <div class="col-sm-12 col-md-2" style="position:relative">
                    <div class="fixed">
                        @Html.Action("SidebarPartial", "Pages", new { ViewBag.SidebarId })
                    </div>
                </div>
            }
            else
            {
                <div class="col" style="position:relative">
                    @RenderBody()
                </div>
            }
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @RenderSection("scripts", required: false)

</body>

<footer class="footer">
    <hr />
    <p>&copy; @DateTime.Now.Year - designed by MYSTERIO</p>
    <br />
</footer>
</html>
