@model IEnumerable<WebApplication1.Models.ViewModels.Pages.SidebarVM>

@{
    ViewBag.Title = "Sidebars";
}

<h2>Sidebars</h2>

@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}

<p>
    @Html.ActionLink("Create New", "AddSidebar")
</p>

@if (!Model.Any())
{
    <h1 class="text-center">There are no sidebars</h1>
}
else
{
    <table class="table sorting" id="sidebars">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr  id="id_@item.Id" class="@item.Title.ToLower()">
                <td>
                    @if (item.Title != "HOME")
                    {
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                    }
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditSidebar", new { id = item.Id }) |
                    @Html.ActionLink("Details", "SidebarDetails", new { id = item.Id })
                    @if (item.Title != "HOME")
                    {<span>|</span>
                        @Html.ActionLink(" Delete", "DeleteSidebar", new { id = item.Id }, new { @class = "delete" })
                    }
                </td>
            </tr>
        }

    </table>
}

@section Scripts
{
    <script src="~/Content/HomeworksJS/SidebarJS.js"></script>
}
